.album-container {
    background-color: aqua;
}

.artist-name-container {
    background-color: aqua;
}

.album-name-container {
    background-color: aqua;
}

.music-labels {
    background-color: aqua;
}